<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Basic Page Needs
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <title>{{ title }} | Slam Stonks </title>
    <meta name="description" content="www.slamstonks.com">
    <meta name="author" content="SlamStonks">
    <!-- Viewport
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Linking Skeleton framework and custom CSS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/skeleton.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
    <link rel="stylesheet" href="https://unpkg.com/intro.js/minified/introjs.min.css">
    <link rel="stylesheet" href="https://unpkg.com/intro.js/themes/introjs-dark.css">

    <!-- Chart.js library via CDN
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js" integrity="sha512-d9xgZrVZpmmQlfonhQUvTR7lMPtO7NkZMkA0ABN3PHCbKA5nqylQ/yWlFAyY6hYgdF1Qh6nYiuADWwKB4C2WSw==" crossorigin="anonymous"></script>
</head>
<body class="body_stuff">
    <div class="container">
        <a href="{{ url_for('index') }}">
            <div class="row" data-title="HOME" data-intro="Clicking on the header image will always take you home">
                <div class="eight columns center_text text_color_green vertical_align_middle">
                    <br>
                    <h3>SLAMSTONKS</h3>
                    <h5 class="text_color_red">To The Moon!</h5>
                </div>
                <div class="four columns">
                    <img src="{{ url_for('static', filename='img/wsbguy.png') }}">
                </div>
            </div>
        </a>
{#        <div class="spacer"></div>#}
        {% block content %}
        {% endblock %}
        <div class="spacer_blank"></div>
        <div class="spacer"></div>
        <div class="row">
            <div class="twelve columns center_text">
                &copy; 2021 slamstonks.com
            </div>
        </div>
    </div>
    <script src="https://unpkg.com/intro.js/minified/intro.min.js"></script>
    <script>introJs().addHints();</script>
</body>

