{% extends "base.html" %}
{% block content %}

    {% for message in get_flashed_messages() %}
        <p style="text-align: center; display: block; padding: 20px;
                  border-left: 5px solid; background-color: #D6EAF8;
                  border-left-color: #3498DB; color: #3498DB; ">{{ message }}</p>
    {% endfor %}
    <br>
    <div class="row">
        <div class="twelve columns">
            <form style="text-align: center;" action="/search" method="POST">
                <label style="color: #C1FFC1">Search for whatever Stock you think of just by typing its ticker</label> <br>
                <input style="color: black" name="search" type="search" placeholder="Search" minlength="3" maxlength="5" required>
                <input style="color: white" type="submit" value="Search">
            </form>
        </div>
    </div>

    <div class="row">
        <div class="twelve columns">
            <p><h3 class="centered_header text_color_green">TOP TEN SHORTED STOCK WATCHLIST</h3></p>
        </div>
    </div>
    <div class="row border1">
        <div class="row padding_bottom_1 text_color_red">
            <div class="three columns center_text text_underline">SYMBOL</div>
            <div class="three columns center_text text_underline">COMPANY NAME</div>
            <div class="three columns center_text text_underline">FLOAT SHORTED</div>
            <div class="three columns center_text text_underline">SHORT INTEREST</div>
        </div>
        {% for ticker in data %}
        <div class="row">
            <div class="three columns center_text">
                <a href="/stock/{{ticker[0]}}" class="button">{{ticker[0]}}</a>
            </div>
            <div class="three columns center_text"><h6>{{ticker[1]}}</h6></div>
            <div class="three columns center_text"><h6>{{ticker[2]}}</h6></div>
            <div class="three columns center_text"><h6>{{ticker[3]}}</h6></div>
        </div>
        {% endfor %}
    </div>
    <div class="spacer_blank"></div>
    <div class="spacer"></div>
    <div class="row">
        <div class="twelve columns">
            <p><h3 class="centered_header text_color_green">TOP TEN STOCK PERFORMANCE CHART</h3></p>
        </div>
    </div>
        <div class="row border1">
            <div class="twelve columns">
                <canvas id="myChart"></canvas>
                <script>
                    var ctx = document.getElementById("myChart");

                    var myChart = new Chart(ctx, {
                        type: 'line',
                        data: {
                            labels: [ {% for item in the_date %}
                                {% if item == the_date[-1] -%}
                                    "TODAY",
                                {% else -%}
                                    "{{ item }}",
                                {% endif %}
                            {% endfor %} ],
                            datasets: [
                                {
                                    label: "{{ tickers[0] }}",
                                    data: [{
                                        x: "{{ the_date[0] }}",
                                        y: {{ nested_dictionaries[tickers[0]][the_date[0]] }}
                                    }, {
                                        x: "{{ the_date[1] }}",
                                        y: {{ nested_dictionaries[tickers[0]][the_date[1]] }}
                                    }, {
                                        x: "{{ the_date[2] }}",
                                        y: {{ nested_dictionaries[tickers[0]][the_date[2]] }}
                                    }, {
                                        x: "{{ the_date[3] }}",
                                        y: {{ nested_dictionaries[tickers[0]][the_date[3]] }}
                                    }, {
                                        x: "{{ the_date[4] }}",
                                        y: {{ nested_dictionaries[tickers[0]][the_date[4]] }}
                                    }, {
                                        x: "{{ the_date[5] }}",
                                        y: {{ nested_dictionaries[tickers[0]][the_date[5]] }}
                                    }, {
                                        x: "{{ the_date[6] }}",
                                        y: {{ nested_dictionaries[tickers[0]][the_date[6]] }}
                                    }, {x: "{{ the_date[7] }}", y: {{ nested_dictionaries[tickers[0]][the_date[7]] }}}],
                                    showLine: true,
                                    fill: false,
                                    borderColor: 'rgba(255, 0, 0, 1)',
                                    lineTension: 0
                                },
                                {
                                    label: "{{ tickers[1] }}",
                                    data: [{
                                        x: "{{ the_date[0] }}",
                                        y: {{ nested_dictionaries[tickers[1]][the_date[0]] }}
                                    }, {
                                        x: "{{ the_date[1] }}",
                                        y: {{ nested_dictionaries[tickers[1]][the_date[1]] }}
                                    }, {
                                        x: "{{ the_date[2] }}",
                                        y: {{ nested_dictionaries[tickers[1]][the_date[2]] }}
                                    }, {
                                        x: "{{ the_date[3] }}",
                                        y: {{ nested_dictionaries[tickers[1]][the_date[3]] }}
                                    }, {
                                        x: "{{ the_date[4] }}",
                                        y: {{ nested_dictionaries[tickers[1]][the_date[4]] }}
                                    }, {
                                        x: "{{ the_date[5] }}",
                                        y: {{ nested_dictionaries[tickers[1]][the_date[5]] }}
                                    }, {
                                        x: "{{ the_date[6] }}",
                                        y: {{ nested_dictionaries[tickers[1]][the_date[6]] }}
                                    }, {x: "{{ the_date[7] }}", y: {{ nested_dictionaries[tickers[1]][the_date[7]] }}}],
                                    showLine: true,
                                    fill: false,
                                    borderColor: 'rgba(255, 128, 0, 1)',
                                    lineTension: 0
                                },
                                {
                                    label: "{{ tickers[2] }}",
                                    data: [{
                                        x: "{{ the_date[0] }}",
                                        y: {{ nested_dictionaries[tickers[2]][the_date[0]] }}
                                    }, {
                                        x: "{{ the_date[1] }}",
                                        y: {{ nested_dictionaries[tickers[2]][the_date[1]] }}
                                    }, {
                                        x: "{{ the_date[2] }}",
                                        y: {{ nested_dictionaries[tickers[2]][the_date[2]] }}
                                    }, {
                                        x: "{{ the_date[3] }}",
                                        y: {{ nested_dictionaries[tickers[2]][the_date[3]] }}
                                    }, {
                                        x: "{{ the_date[4] }}",
                                        y: {{ nested_dictionaries[tickers[2]][the_date[4]] }}
                                    }, {
                                        x: "{{ the_date[5] }}",
                                        y: {{ nested_dictionaries[tickers[2]][the_date[5]] }}
                                    }, {
                                        x: "{{ the_date[6] }}",
                                        y: {{ nested_dictionaries[tickers[2]][the_date[6]] }}
                                    }, {x: "{{ the_date[7] }}", y: {{ nested_dictionaries[tickers[2]][the_date[7]] }}}],
                                    showLine: true,
                                    fill: false,
                                    borderColor: 'rgba(255, 255, 0, 1)',
                                    lineTension: 0
                                },
                                {
                                    label: "{{ tickers[3] }}",
                                    data: [{
                                        x: "{{ the_date[0] }}",
                                        y: {{ nested_dictionaries[tickers[3]][the_date[0]] }}
                                    }, {
                                        x: "{{ the_date[1] }}",
                                        y: {{ nested_dictionaries[tickers[3]][the_date[1]] }}
                                    }, {
                                        x: "{{ the_date[2] }}",
                                        y: {{ nested_dictionaries[tickers[3]][the_date[2]] }}
                                    }, {
                                        x: "{{ the_date[3] }}",
                                        y: {{ nested_dictionaries[tickers[3]][the_date[3]] }}
                                    }, {
                                        x: "{{ the_date[4] }}",
                                        y: {{ nested_dictionaries[tickers[3]][the_date[4]] }}
                                    }, {
                                        x: "{{ the_date[5] }}",
                                        y: {{ nested_dictionaries[tickers[3]][the_date[5]] }}
                                    }, {
                                        x: "{{ the_date[6] }}",
                                        y: {{ nested_dictionaries[tickers[3]][the_date[6]] }}
                                    }, {x: "{{ the_date[7] }}", y: {{ nested_dictionaries[tickers[3]][the_date[7]] }}}],
                                    showLine: true,
                                    fill: false,
                                    borderColor: 'rgba(0, 255, 0, 1)',
                                    lineTension: 0
                                },
                                {
                                    label: "{{ tickers[4] }}",
                                    data: [{
                                        x: "{{ the_date[0] }}",
                                        y: {{ nested_dictionaries[tickers[4]][the_date[0]] }}
                                    }, {
                                        x: "{{ the_date[1] }}",
                                        y: {{ nested_dictionaries[tickers[4]][the_date[1]] }}
                                    }, {
                                        x: "{{ the_date[2] }}",
                                        y: {{ nested_dictionaries[tickers[4]][the_date[2]] }}
                                    }, {
                                        x: "{{ the_date[3] }}",
                                        y: {{ nested_dictionaries[tickers[4]][the_date[3]] }}
                                    }, {
                                        x: "{{ the_date[4] }}",
                                        y: {{ nested_dictionaries[tickers[4]][the_date[4]] }}
                                    }, {
                                        x: "{{ the_date[5] }}",
                                        y: {{ nested_dictionaries[tickers[4]][the_date[5]] }}
                                    }, {
                                        x: "{{ the_date[6] }}",
                                        y: {{ nested_dictionaries[tickers[4]][the_date[6]] }}
                                    }, {x: "{{ the_date[7] }}", y: {{ nested_dictionaries[tickers[4]][the_date[7]] }}}],
                                    showLine: true,
                                    fill: false,
                                    borderColor: 'rgba(0, 255, 255, 1)',
                                    lineTension: 0
                                },
                                {
                                    label: "{{ tickers[5] }}",
                                    data: [{
                                        x: "{{ the_date[0] }}",
                                        y: {{ nested_dictionaries[tickers[5]][the_date[0]] }}
                                    }, {
                                        x: "{{ the_date[1] }}",
                                        y: {{ nested_dictionaries[tickers[5]][the_date[1]] }}
                                    }, {
                                        x: "{{ the_date[2] }}",
                                        y: {{ nested_dictionaries[tickers[5]][the_date[2]] }}
                                    }, {
                                        x: "{{ the_date[3] }}",
                                        y: {{ nested_dictionaries[tickers[5]][the_date[3]] }}
                                    }, {
                                        x: "{{ the_date[4] }}",
                                        y: {{ nested_dictionaries[tickers[5]][the_date[4]] }}
                                    }, {
                                        x: "{{ the_date[5] }}",
                                        y: {{ nested_dictionaries[tickers[5]][the_date[5]] }}
                                    }, {
                                        x: "{{ the_date[6] }}",
                                        y: {{ nested_dictionaries[tickers[5]][the_date[6]] }}
                                    }, {x: "{{ the_date[7] }}", y: {{ nested_dictionaries[tickers[5]][the_date[7]] }}}],
                                    showLine: true,
                                    fill: false,
                                    borderColor: 'rgba(0, 128, 255, 1)',
                                    lineTension: 0
                                },
                                {
                                    label: "{{ tickers[6] }}",
                                    data: [{
                                        x: "{{ the_date[0] }}",
                                        y: {{ nested_dictionaries[tickers[6]][the_date[0]] }}
                                    }, {
                                        x: "{{ the_date[1] }}",
                                        y: {{ nested_dictionaries[tickers[6]][the_date[1]] }}
                                    }, {
                                        x: "{{ the_date[2] }}",
                                        y: {{ nested_dictionaries[tickers[6]][the_date[2]] }}
                                    }, {
                                        x: "{{ the_date[3] }}",
                                        y: {{ nested_dictionaries[tickers[6]][the_date[3]] }}
                                    }, {
                                        x: "{{ the_date[4] }}",
                                        y: {{ nested_dictionaries[tickers[6]][the_date[4]] }}
                                    }, {
                                        x: "{{ the_date[5] }}",
                                        y: {{ nested_dictionaries[tickers[6]][the_date[5]] }}
                                    }, {
                                        x: "{{ the_date[6] }}",
                                        y: {{ nested_dictionaries[tickers[6]][the_date[6]] }}
                                    }, {x: "{{ the_date[7] }}", y: {{ nested_dictionaries[tickers[6]][the_date[7]] }}}],
                                    showLine: true,
                                    fill: false,
                                    borderColor: 'rgba(0, 0, 255, 1)',
                                    lineTension: 0
                                },
                                {
                                    label: "{{ tickers[7] }}",
                                    data: [{
                                        x: "{{ the_date[0] }}",
                                        y: {{ nested_dictionaries[tickers[7]][the_date[0]] }}
                                    }, {
                                        x: "{{ the_date[1] }}",
                                        y: {{ nested_dictionaries[tickers[7]][the_date[1]] }}
                                    }, {
                                        x: "{{ the_date[2] }}",
                                        y: {{ nested_dictionaries[tickers[7]][the_date[2]] }}
                                    }, {
                                        x: "{{ the_date[3] }}",
                                        y: {{ nested_dictionaries[tickers[7]][the_date[3]] }}
                                    }, {
                                        x: "{{ the_date[4] }}",
                                        y: {{ nested_dictionaries[tickers[7]][the_date[4]] }}
                                    }, {
                                        x: "{{ the_date[5] }}",
                                        y: {{ nested_dictionaries[tickers[7]][the_date[5]] }}
                                    }, {
                                        x: "{{ the_date[6] }}",
                                        y: {{ nested_dictionaries[tickers[7]][the_date[6]] }}
                                    }, {x: "{{ the_date[7] }}", y: {{ nested_dictionaries[tickers[7]][the_date[7]] }}}],
                                    showLine: true,
                                    fill: false,
                                    borderColor: 'rgba(127, 0, 255, 1)',
                                    lineTension: 0
                                },
                                {
                                    label: "{{ tickers[8] }}",
                                    data: [{
                                        x: "{{ the_date[0] }}",
                                        y: {{ nested_dictionaries[tickers[8]][the_date[0]] }}
                                    }, {
                                        x: "{{ the_date[1] }}",
                                        y: {{ nested_dictionaries[tickers[8]][the_date[1]] }}
                                    }, {
                                        x: "{{ the_date[2] }}",
                                        y: {{ nested_dictionaries[tickers[8]][the_date[2]] }}
                                    }, {
                                        x: "{{ the_date[3] }}",
                                        y: {{ nested_dictionaries[tickers[8]][the_date[3]] }}
                                    }, {
                                        x: "{{ the_date[4] }}",
                                        y: {{ nested_dictionaries[tickers[8]][the_date[4]] }}
                                    }, {
                                        x: "{{ the_date[5] }}",
                                        y: {{ nested_dictionaries[tickers[8]][the_date[5]] }}
                                    }, {
                                        x: "{{ the_date[6] }}",
                                        y: {{ nested_dictionaries[tickers[8]][the_date[6]] }}
                                    }, {x: "{{ the_date[7] }}", y: {{ nested_dictionaries[tickers[8]][the_date[7]] }}}],
                                    showLine: true,
                                    fill: false,
                                    borderColor: 'rgba(255, 0, 127, 1)',
                                    lineTension: 0
                                },
                                {
                                    label: "{{ tickers[9] }}",
                                    data: [{
                                        x: "{{ the_date[0] }}",
                                        y: {{ nested_dictionaries[tickers[9]][the_date[0]] }}
                                    }, {
                                        x: "{{ the_date[1] }}",
                                        y: {{ nested_dictionaries[tickers[9]][the_date[1]] }}
                                    }, {
                                        x: "{{ the_date[2] }}",
                                        y: {{ nested_dictionaries[tickers[9]][the_date[2]] }}
                                    }, {
                                        x: "{{ the_date[3] }}",
                                        y: {{ nested_dictionaries[tickers[9]][the_date[3]] }}
                                    }, {
                                        x: "{{ the_date[4] }}",
                                        y: {{ nested_dictionaries[tickers[9]][the_date[4]] }}
                                    }, {
                                        x: "{{ the_date[5] }}",
                                        y: {{ nested_dictionaries[tickers[9]][the_date[5]] }}
                                    }, {
                                        x: "{{ the_date[6] }}",
                                        y: {{ nested_dictionaries[tickers[9]][the_date[6]] }}
                                    }, {x: "{{ the_date[7] }}", y: {{ nested_dictionaries[tickers[9]][the_date[7]] }}}],
                                    showLine: true,
                                    fill: false,
                                    borderColor: 'rgba(0, 0, 0, 1)',
                                    lineTension: 0
                                },
                            ]
                        },
                        options: {
                            tooltips: {
                                mode: 'index',
                                intersect: false,
                            },
                            legend: {
                                labels: {
                                    fontColor: 'white' //set your desired color
                                }
                            },
                            hover: {
                                mode: 'nearest',
                                intersect: true
                            },
                            scales: {
                                yAxes: [{
                                    ticks: {
                                        autoSkip: false,
                                        beginAtZero: true,
                                        stepSize: 20,
                                        suggestedMax: 100,
                                        fontColor: 'white',
                                    }
                                }],
                                xAxes: [{
                                    ticks: {
                                        autoSkip: false,
                                        fontColor: 'white',
                                    }
                                }]
                            },
                        }
                    });
                </script>
            </div>
        </div>
{% endblock %}

