{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block body %}
<div class="content-section">
    <div style="text-align:center">
        <h1 style="color:#982c61; font-size: 5em;">Slam Stonks</h1>
        <h3 style="color:#982c61;">Welcome! Enjoy Stocking</h3>
        <hr class="intro-divider">
    </div>
  <div class="outer">
    <div class="middle">
      <div class="inner">

        {% if data %}
          <div class="center">
            <table class="table table-striped table-bordered" style="table-layout: fixed;">
              <thead>
                <tr>
                  <th style="color:red" width="20%">  <b>Symbol</b> </th>
                  <th style="color:red" width="30%">  <b>Company Name</b> </th>
                  <th style="color:red" width="15%">  <b>Price</b> </th>
                  <th style="color:red" width="20%">  <strong>Short Interest</strong> </th>
                  <th style="color:red" width="15%">  <strong>Float Shorted</strong> </th>
                </tr>
              </thead>
              <tbody>
              {% for ticker in data %}
                    <tr>
                      <td>
                          <a style="color:green" href="{{ url_for('ticker_data', ticker=ticker[0]) }}">
                              <strong>{{ticker[0]}}</strong></a>
                      </td>
                      <td>{{ticker[1]}}</td>
                      <td>{{ticker[2]}}</td>
                      <td>{{ticker[3]}}</td>
                      <td>{{ticker[4]}}%</td>
                    </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        {% else %}
          <div class="center" style="text-align: center">
            <h3> No Stocks Found </h3>
          </div>
        {% endif %}
        <hr class="intro-divider">

        </div>
      </div>
    </div>
  </div>


{% endblock %}
