{% extends "base.html" %}
{% block content %}

    <div class="row">
        <div class="twelve columns">
            <p><h4 class="centered_header text_color_green">TOP TEN UNUSUAL STOCKS OPTIONS</h4></p>
        </div>
    </div>
    <div class="row border1">
        <div class="row padding_bottom_1 text_color_red">
            <div class="two columns center_text text_underline">SYMBOL</div>
            <div class="one columns center_text text_underline">TYPE</div>
            <div class="two columns center_text text_underline">PRICE</div>
            <div class="two columns center_text text_underline">STRIKE PRICE</div>
            <div class="two columns center_text text_underline">EXPIRATION DATE</div>
            <div class="one columns center_text text_underline">ASK</div>
            <div class="two columns center_text text_underline">VOLUME</div>

        </div>
        {% for ticker in data %}
        <div class="row">
            <div class="two columns center_text">
                <a href="/stock/{{ticker[0]}}" class="button">{{ticker[0]}}</a>
            </div>
            <div class="one columns center_text"><h6>{{ticker[1]}}</h6></div>
            <div class="two columns center_text"><h6>{{ticker[2]}} $</h6></div>
            <div class="two columns center_text"><h6>{{ticker[3]}} $</h6></div>
            <div class="two columns center_text"><h6>{{ticker[4]}}</h6></div>
            <div class="one columns center_text"><h6>{{ticker[5]}}</h6></div>
            <div class="two columns center_text"><h6>{{ticker[6]}}</h6></div>

        </div>
        {% endfor %}
    </div>
{% endblock %}
