{% extends "base.html" %}
{% block content %}





<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>SLAM STONKS</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">


  <!-- Linking Skeleton framework
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="../static/css/normalize.css">
    <link rel="stylesheet" href="../static/css/skeleton.css">


</head>

<style>


    {#Margin on top#}
    body {

        background-color: silver;
    }


    .content-table {
        border-bottom:thick solid;
        border-top:thick solid;
        border-left:thick solid;
        border-right:thick solid;
        border-color: #277A2B;
        margin-top: 30px;
        box-shadow: 0 0 20px rgba(162, 8, 8, 0.5);


    }

    .content-table thead tr{

        font-family: Impact, Charcoal, sans-serif;
        font-size: 25px;
        color: white;
        font-weight: normal;
        text-decoration: none solid rgb(68, 68, 68);
        text-transform: uppercase;
        background-color: #277A2B;
        text-align: center;
        letter-spacing: 0.8px;

    }

    .content-table th,
    .content-table td {
        padding-left: 40px;
        padding-right: 40px;

    }
    .content-table tbody tr{
        background-color: whitesmoke;
    }
    .content-table tbody tr:nth-of-type(even){
        color: #277A2B;
    }

    .content-table tbody tr:nth-of-type(odd){
        color: lightcoral;
    }


    .contrast-background{
        background-color: black;
    }

    p {
        font-family: Impact, Charcoal, sans-serif;
        font-size: 50px;
        color: #277A2B;
        margin-left: 50px;
        text-decoration: underline solid rgb(68, 68, 68);
    }

    .button {
        color: #FFF;
        background-color: #277A2B;
        border-color: black;
        font-size: 15px;
    }

    .chart-contrast{
        background-color: white;
        margin-left: 500px;
        margin-right: 500px;
        padding-top: 50px;
        padding-bottom 50px;
    }




</style>

<body>


<div class="contrast-background">
    <br>
    <p> TOP TEN SHORTED STOCK WATCHLIST</p>

    <div class="container">
        <div class="row">
            <div class="Ten columns">
                <table class="content-table">
                    <thead>
                        <tr>
                            <th>Symbol</th>
                            <th>Company Name</th>
                            <th>Price</th>
                            <th>Float Shorted</th>
                            <th>Short Interest</th>
                        </tr>
                    </thead>

                    <tbody>

                    	<tr>
                    		<td><a href="/stock/{{ stock_1_ticker }}" class="button">{{ stock_1_ticker }}</a></td>
                    		<td>{{ stock_1_name }}</td>
                    		<td>${{stock_1_price}}</td>
                    		<td>{{ stock_1_float_shorted }}%</td>
                    		<td>{{ stock_1_short_iterest }}</td>
                    	</tr>
                    	<tr>
                     		<td><a href="/stock/{{ stock_2_ticker }}" class="button">{{ stock_2_ticker }}</a></td>
                    		<td>{{ stock_2_name }}</td>
                    		<td>${{stock_2_price}}</td>
                    		<td>{{ stock_2_float_shorted }}%</td>
                    		<td>{{ stock_2_short_iterest }}</td>
                    	</tr>
                    	<tr>
                    		<td><a href="/stock/{{ stock_3_ticker }}" class="button">{{ stock_3_ticker }}</a></td>
                    		<td>{{ stock_3_name }}</td>
                    		<td>${{stock_3_price}}</td>
                    		<td>{{ stock_3_float_shorted }}%</td>
                    		<td>{{ stock_3_short_iterest }}</td>
                    	</tr>
                    	<tr>
                    		<td><a href="/stock/{{ stock_4_ticker }}" class="button">{{ stock_4_ticker }}</a></td>
                    		<td>{{ stock_4_name }}</td>
                    		<td>${{stock_4_price}}</td>
                    		<td>{{ stock_4_float_shorted }}%</td>
                    		<td>{{ stock_4_short_iterest }}</td>
                    	</tr>
                    	<tr>
                    		<td><a href="/stock/{{ stock_5_ticker }}" class="button">{{ stock_5_ticker }}</a></td>
                    		<td>{{ stock_5_name }}</td>
                    		<td>${{stock_5_price}}</td>
                    		<td>{{ stock_5_float_shorted }}%</td>
                    		<td>{{ stock_5_short_iterest }}</td>
                    	</tr>
                    	<tr>
                    		<td><a href="/stock/{{ stock_6_ticker }}" class="button">{{ stock_6_ticker }}</a></td>
                    		<td>{{ stock_6_name }}</td>
                    		<td>${{stock_6_price}}</td>
                    		<td>{{ stock_6_float_shorted }}%</td>
                    		<td>{{ stock_6_short_iterest }}</td>
                    	</tr>
                    	<tr>
                    		<td><a href="/stock/{{ stock_7_ticker }}" class="button">{{ stock_7_ticker }}</a></td>
                    		<td>{{ stock_7_name }}</td>
                    		<td>${{stock_7_price}}</td>
                    		<td>{{ stock_7_float_shorted }}%</td>
                    		<td>{{ stock_7_short_iterest }}</td>
                    	</tr>
                    	<tr>
                    		<td><a href="/stock/{{ stock_8_ticker }}" class="button">{{ stock_8_ticker }}</a></td>
                    		<td>{{ stock_8_name }}</td>
                    		<td>${{stock_8_price}}</td>
                    		<td>{{ stock_8_float_shorted }}%</td>
                    		<td>{{ stock_8_short_iterest }}</td>
                    	</tr>
                    	<tr>
                    		<td><a href="/stock/{{ stock_9_ticker }}" class="button">{{ stock_9_ticker }}</a></td>
                    		<td>{{ stock_9_name }}</td>
                    		<td>${{stock_9_price}}</td>
                    		<td>{{ stock_9_float_shorted }}%</td>
                    		<td>{{ stock_9_short_iterest }}</td>
                    	</tr>
                    	<tr>
                    		<<td><a href="/stock/{{ stock_10_ticker }}" class="button">{{ stock_10_ticker }}</a></td>
                    		<td>{{ stock_10_name }}</td>
                    		<td>${{stock_10_price}}</td>
                    		<td>{{ stock_10_float_shorted }}%</td>
                    		<td>{{ stock_10_short_iterest }}</td>
                    	</tr>

                    </tbody>
                </table>
            </div>

        </div>

    </div>


    <br>
    <p> TOP TEN STOCK PREFORMANCE CHART</p>
<div class="chart-contrast">
<div class="container">
<div class="row">
    <div class="6 columns">
        <canvas id="myChart"></canvas>
        <script>
            var ctx = document.getElementById("myChart");

            var myChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: [ {% for item in the_date %}
                        {% if item == the_date[-1] -%}
                            "TODAY",
                        {% else -%}
                            "{{ item }}",
                        {% endif %}
                    {% endfor %} ],
                    datasets: [
                        {
                            label: "{{ tickers[0] }}",
                            data: [{
                                x: "{{ the_date[0] }}",
                                y: {{ nested_dictionaries[tickers[0]][the_date[0]] }}
                            }, {
                                x: "{{ the_date[1] }}",
                                y: {{ nested_dictionaries[tickers[0]][the_date[1]] }}
                            }, {
                                x: "{{ the_date[2] }}",
                                y: {{ nested_dictionaries[tickers[0]][the_date[2]] }}
                            }, {
                                x: "{{ the_date[3] }}",
                                y: {{ nested_dictionaries[tickers[0]][the_date[3]] }}
                            }, {
                                x: "{{ the_date[4] }}",
                                y: {{ nested_dictionaries[tickers[0]][the_date[4]] }}
                            }, {
                                x: "{{ the_date[5] }}",
                                y: {{ nested_dictionaries[tickers[0]][the_date[5]] }}
                            }, {
                                x: "{{ the_date[6] }}",
                                y: {{ nested_dictionaries[tickers[0]][the_date[6]] }}
                            }, {x: "{{ the_date[7] }}", y: {{ nested_dictionaries[tickers[0]][the_date[7]] }}}],
                            showLine: true,
                            fill: false,
                            borderColor: 'rgba(255, 0, 0, 1)',
                            lineTension: 0
                        },
                        {
                            label: "{{ tickers[1] }}",
                            data: [{
                                x: "{{ the_date[0] }}",
                                y: {{ nested_dictionaries[tickers[1]][the_date[0]] }}
                            }, {
                                x: "{{ the_date[1] }}",
                                y: {{ nested_dictionaries[tickers[1]][the_date[1]] }}
                            }, {
                                x: "{{ the_date[2] }}",
                                y: {{ nested_dictionaries[tickers[1]][the_date[2]] }}
                            }, {
                                x: "{{ the_date[3] }}",
                                y: {{ nested_dictionaries[tickers[1]][the_date[3]] }}
                            }, {
                                x: "{{ the_date[4] }}",
                                y: {{ nested_dictionaries[tickers[1]][the_date[4]] }}
                            }, {
                                x: "{{ the_date[5] }}",
                                y: {{ nested_dictionaries[tickers[1]][the_date[5]] }}
                            }, {
                                x: "{{ the_date[6] }}",
                                y: {{ nested_dictionaries[tickers[1]][the_date[6]] }}
                            }, {x: "{{ the_date[7] }}", y: {{ nested_dictionaries[tickers[1]][the_date[7]] }}}],
                            showLine: true,
                            fill: false,
                            borderColor: 'rgba(255, 128, 0, 1)',
                            lineTension: 0
                        },
                        {
                            label: "{{ tickers[2] }}",
                            data: [{
                                x: "{{ the_date[0] }}",
                                y: {{ nested_dictionaries[tickers[2]][the_date[0]] }}
                            }, {
                                x: "{{ the_date[1] }}",
                                y: {{ nested_dictionaries[tickers[2]][the_date[1]] }}
                            }, {
                                x: "{{ the_date[2] }}",
                                y: {{ nested_dictionaries[tickers[2]][the_date[2]] }}
                            }, {
                                x: "{{ the_date[3] }}",
                                y: {{ nested_dictionaries[tickers[2]][the_date[3]] }}
                            }, {
                                x: "{{ the_date[4] }}",
                                y: {{ nested_dictionaries[tickers[2]][the_date[4]] }}
                            }, {
                                x: "{{ the_date[5] }}",
                                y: {{ nested_dictionaries[tickers[2]][the_date[5]] }}
                            }, {
                                x: "{{ the_date[6] }}",
                                y: {{ nested_dictionaries[tickers[2]][the_date[6]] }}
                            }, {x: "{{ the_date[7] }}", y: {{ nested_dictionaries[tickers[2]][the_date[7]] }}}],
                            showLine: true,
                            fill: false,
                            borderColor: 'rgba(255, 255, 0, 1)',
                            lineTension: 0
                        },
                        {
                            label: "{{ tickers[3] }}",
                            data: [{
                                x: "{{ the_date[0] }}",
                                y: {{ nested_dictionaries[tickers[3]][the_date[0]] }}
                            }, {
                                x: "{{ the_date[1] }}",
                                y: {{ nested_dictionaries[tickers[3]][the_date[1]] }}
                            }, {
                                x: "{{ the_date[2] }}",
                                y: {{ nested_dictionaries[tickers[3]][the_date[2]] }}
                            }, {
                                x: "{{ the_date[3] }}",
                                y: {{ nested_dictionaries[tickers[3]][the_date[3]] }}
                            }, {
                                x: "{{ the_date[4] }}",
                                y: {{ nested_dictionaries[tickers[3]][the_date[4]] }}
                            }, {
                                x: "{{ the_date[5] }}",
                                y: {{ nested_dictionaries[tickers[3]][the_date[5]] }}
                            }, {
                                x: "{{ the_date[6] }}",
                                y: {{ nested_dictionaries[tickers[3]][the_date[6]] }}
                            }, {x: "{{ the_date[7] }}", y: {{ nested_dictionaries[tickers[3]][the_date[7]] }}}],
                            showLine: true,
                            fill: false,
                            borderColor: 'rgba(0, 255, 0, 1)',
                            lineTension: 0
                        },
                        {
                            label: "{{ tickers[4] }}",
                            data: [{
                                x: "{{ the_date[0] }}",
                                y: {{ nested_dictionaries[tickers[4]][the_date[0]] }}
                            }, {
                                x: "{{ the_date[1] }}",
                                y: {{ nested_dictionaries[tickers[4]][the_date[1]] }}
                            }, {
                                x: "{{ the_date[2] }}",
                                y: {{ nested_dictionaries[tickers[4]][the_date[2]] }}
                            }, {
                                x: "{{ the_date[3] }}",
                                y: {{ nested_dictionaries[tickers[4]][the_date[3]] }}
                            }, {
                                x: "{{ the_date[4] }}",
                                y: {{ nested_dictionaries[tickers[4]][the_date[4]] }}
                            }, {
                                x: "{{ the_date[5] }}",
                                y: {{ nested_dictionaries[tickers[4]][the_date[5]] }}
                            }, {
                                x: "{{ the_date[6] }}",
                                y: {{ nested_dictionaries[tickers[4]][the_date[6]] }}
                            }, {x: "{{ the_date[7] }}", y: {{ nested_dictionaries[tickers[4]][the_date[7]] }}}],
                            showLine: true,
                            fill: false,
                            borderColor: 'rgba(0, 255, 255, 1)',
                            lineTension: 0
                        },
                        {
                            label: "{{ tickers[5] }}",
                            data: [{
                                x: "{{ the_date[0] }}",
                                y: {{ nested_dictionaries[tickers[5]][the_date[0]] }}
                            }, {
                                x: "{{ the_date[1] }}",
                                y: {{ nested_dictionaries[tickers[5]][the_date[1]] }}
                            }, {
                                x: "{{ the_date[2] }}",
                                y: {{ nested_dictionaries[tickers[5]][the_date[2]] }}
                            }, {
                                x: "{{ the_date[3] }}",
                                y: {{ nested_dictionaries[tickers[5]][the_date[3]] }}
                            }, {
                                x: "{{ the_date[4] }}",
                                y: {{ nested_dictionaries[tickers[5]][the_date[4]] }}
                            }, {
                                x: "{{ the_date[5] }}",
                                y: {{ nested_dictionaries[tickers[5]][the_date[5]] }}
                            }, {
                                x: "{{ the_date[6] }}",
                                y: {{ nested_dictionaries[tickers[5]][the_date[6]] }}
                            }, {x: "{{ the_date[7] }}", y: {{ nested_dictionaries[tickers[5]][the_date[7]] }}}],
                            showLine: true,
                            fill: false,
                            borderColor: 'rgba(0, 128, 255, 1)',
                            lineTension: 0
                        },
                        {
                            label: "{{ tickers[6] }}",
                            data: [{
                                x: "{{ the_date[0] }}",
                                y: {{ nested_dictionaries[tickers[6]][the_date[0]] }}
                            }, {
                                x: "{{ the_date[1] }}",
                                y: {{ nested_dictionaries[tickers[6]][the_date[1]] }}
                            }, {
                                x: "{{ the_date[2] }}",
                                y: {{ nested_dictionaries[tickers[6]][the_date[2]] }}
                            }, {
                                x: "{{ the_date[3] }}",
                                y: {{ nested_dictionaries[tickers[6]][the_date[3]] }}
                            }, {
                                x: "{{ the_date[4] }}",
                                y: {{ nested_dictionaries[tickers[6]][the_date[4]] }}
                            }, {
                                x: "{{ the_date[5] }}",
                                y: {{ nested_dictionaries[tickers[6]][the_date[5]] }}
                            }, {
                                x: "{{ the_date[6] }}",
                                y: {{ nested_dictionaries[tickers[6]][the_date[6]] }}
                            }, {x: "{{ the_date[7] }}", y: {{ nested_dictionaries[tickers[6]][the_date[7]] }}}],
                            showLine: true,
                            fill: false,
                            borderColor: 'rgba(0, 0, 255, 1)',
                            lineTension: 0
                        },
                        {
                            label: "{{ tickers[7] }}",
                            data: [{
                                x: "{{ the_date[0] }}",
                                y: {{ nested_dictionaries[tickers[7]][the_date[0]] }}
                            }, {
                                x: "{{ the_date[1] }}",
                                y: {{ nested_dictionaries[tickers[7]][the_date[1]] }}
                            }, {
                                x: "{{ the_date[2] }}",
                                y: {{ nested_dictionaries[tickers[7]][the_date[2]] }}
                            }, {
                                x: "{{ the_date[3] }}",
                                y: {{ nested_dictionaries[tickers[7]][the_date[3]] }}
                            }, {
                                x: "{{ the_date[4] }}",
                                y: {{ nested_dictionaries[tickers[7]][the_date[4]] }}
                            }, {
                                x: "{{ the_date[5] }}",
                                y: {{ nested_dictionaries[tickers[7]][the_date[5]] }}
                            }, {
                                x: "{{ the_date[6] }}",
                                y: {{ nested_dictionaries[tickers[7]][the_date[6]] }}
                            }, {x: "{{ the_date[7] }}", y: {{ nested_dictionaries[tickers[7]][the_date[7]] }}}],
                            showLine: true,
                            fill: false,
                            borderColor: 'rgba(127, 0, 255, 1)',
                            lineTension: 0
                        },
                        {
                            label: "{{ tickers[8] }}",
                            data: [{
                                x: "{{ the_date[0] }}",
                                y: {{ nested_dictionaries[tickers[8]][the_date[0]] }}
                            }, {
                                x: "{{ the_date[1] }}",
                                y: {{ nested_dictionaries[tickers[8]][the_date[1]] }}
                            }, {
                                x: "{{ the_date[2] }}",
                                y: {{ nested_dictionaries[tickers[8]][the_date[2]] }}
                            }, {
                                x: "{{ the_date[3] }}",
                                y: {{ nested_dictionaries[tickers[8]][the_date[3]] }}
                            }, {
                                x: "{{ the_date[4] }}",
                                y: {{ nested_dictionaries[tickers[8]][the_date[4]] }}
                            }, {
                                x: "{{ the_date[5] }}",
                                y: {{ nested_dictionaries[tickers[8]][the_date[5]] }}
                            }, {
                                x: "{{ the_date[6] }}",
                                y: {{ nested_dictionaries[tickers[8]][the_date[6]] }}
                            }, {x: "{{ the_date[7] }}", y: {{ nested_dictionaries[tickers[8]][the_date[7]] }}}],
                            showLine: true,
                            fill: false,
                            borderColor: 'rgba(255, 0, 127, 1)',
                            lineTension: 0
                        },
                        {
                            label: "{{ tickers[9] }}",
                            data: [{
                                x: "{{ the_date[0] }}",
                                y: {{ nested_dictionaries[tickers[9]][the_date[0]] }}
                            }, {
                                x: "{{ the_date[1] }}",
                                y: {{ nested_dictionaries[tickers[9]][the_date[1]] }}
                            }, {
                                x: "{{ the_date[2] }}",
                                y: {{ nested_dictionaries[tickers[9]][the_date[2]] }}
                            }, {
                                x: "{{ the_date[3] }}",
                                y: {{ nested_dictionaries[tickers[9]][the_date[3]] }}
                            }, {
                                x: "{{ the_date[4] }}",
                                y: {{ nested_dictionaries[tickers[9]][the_date[4]] }}
                            }, {
                                x: "{{ the_date[5] }}",
                                y: {{ nested_dictionaries[tickers[9]][the_date[5]] }}
                            }, {
                                x: "{{ the_date[6] }}",
                                y: {{ nested_dictionaries[tickers[9]][the_date[6]] }}
                            }, {x: "{{ the_date[7] }}", y: {{ nested_dictionaries[tickers[9]][the_date[7]] }}}],
                            showLine: true,
                            fill: false,
                            borderColor: 'rgba(0, 0, 0, 1)',
                            lineTension: 0
                        },
                    ]
                },
                options: {
                    tooltips: {
                        mode: 'index',
                        intersect: false,
                    },
                    hover: {
                        mode: 'nearest',
                        intersect: true
                    },
                    scales: {
                        yAxes: [{
                            ticks: {
                                autoSkip: false,
                                beginAtZero: true,
                                stepSize: 20
                            }
                        }],
                        xAxes: [{
                            ticks: {
                                autoSkip: false
                            }
                        }]
                    },
                }
            });
        </script>

    </div>
</div>
</div>
</div>
<br>
<br>
</div>
</body>


{% endblock %}

