{% extends "base.html" %}
{% block content %}

<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>SLAM STONKS</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">


  <!-- Linking Skeleton framework
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="../static/css/normalize.css">
    <link rel="stylesheet" href="../static/css/skeleton.css">

    <!-- Linking Font
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;400&display=swap" rel="stylesheet">


</head>

<style>


    {#Margin on top#}
    body {

        background-color: silver;
    }




    .contrast-background{
        background-color: black;
    }

    p {
        font-family: Impact, Charcoal, sans-serif;
        font-size: 50px;
        color: #277A2B;
        margin-left: 50px;
        text-decoration: underline solid rgb(68, 68, 68);
    }

    .button {
        color: #FFF;
        background-color: #277A2B;
        border-color: black;
        font-size: 15px;
    }

    .chart-contrast{
        background-color: white;
        margin-left: 500px;
        margin-right: 500px;
        padding-top: 50px;
        padding-bottom: 50px;
    }

        .stock-header {
            font-family: Impact, Charcoal, sans-serif;
            letter-spacing: 0.5px;
            color: #277A2B;
    }

        .stock-data{
            font-family: 'Josefin Sans', sans-serif;
            color: white;

        }

        .container{
        border-bottom: thick solid;
        border-top: thick solid;
        border-left: thick solid;
        border-right: thick solid;
        border-color: white;
        padding-top: 40px;
        padding-left: 40px;
        padding-right: 40px;
        }

        h6{

            border-color: white;
            border-bottom: thin solid;
            border-top: thin solid;
            border-left: thin solid;
            border-right: thin solid;
            padding-top: 10px;
            padding-left: 10px;
            padding-bottom: 10px;

        }

</style>

<body>


<div class="contrast-background">
    <br>
    <p> TOP TEN SHORTED STOCK WATCHLIST</p>

    <div class="container">
        <div class="stock-header">
        <div class="row">
            <div class="three columns">SYMBOL</div>
            <div class="three columns">COMPANY NAME</div>
            <div class="three columns">FLOAT SHORTED</div>
            <div class="three columns">SHORT INTEREST</div>
        </div>
        </div>
        <br>
        <div class="stock-data">
            {% for ticker in data %}
                <div class="row">
                    <div class="three columns">
                        <a href="/stock/{{ticker[0]}}" class="button">{{ticker[0]}}</a>
                    </div>
                    <div class="three columns"><h6>{{ticker[1]}}</h6></div>
                    <div class="three columns"><h6>{{ticker[2]}}</h6></div>
                    <div class="three columns"><h6>{{ticker[3]}}</h6></div>
                </div>
            {% endfor %}

        </div>
    </div>

    <br>

<p> TOP TEN STOCK PERFORMANCE CHART</p>
<div class="chart-contrast">
<div class="container">
<div class="row">
    <div class="twelve columns">
        <canvas id="myChart"></canvas>
        <script>
            var ctx = document.getElementById("myChart");

            var myChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: [ {% for item in the_date %}
                        {% if item == the_date[-1] -%}
                            "TODAY",
                        {% else -%}
                            "{{ item }}",
                        {% endif %}
                    {% endfor %} ],
                    datasets: [
                        {
                            label: "{{ tickers[0] }}",
                            data: [{
                                x: "{{ the_date[0] }}",
                                y: {{ nested_dictionaries[tickers[0]][the_date[0]] }}
                            }, {
                                x: "{{ the_date[1] }}",
                                y: {{ nested_dictionaries[tickers[0]][the_date[1]] }}
                            }, {
                                x: "{{ the_date[2] }}",
                                y: {{ nested_dictionaries[tickers[0]][the_date[2]] }}
                            }, {
                                x: "{{ the_date[3] }}",
                                y: {{ nested_dictionaries[tickers[0]][the_date[3]] }}
                            }, {
                                x: "{{ the_date[4] }}",
                                y: {{ nested_dictionaries[tickers[0]][the_date[4]] }}
                            }, {
                                x: "{{ the_date[5] }}",
                                y: {{ nested_dictionaries[tickers[0]][the_date[5]] }}
                            }, {
                                x: "{{ the_date[6] }}",
                                y: {{ nested_dictionaries[tickers[0]][the_date[6]] }}
                            }, {x: "{{ the_date[7] }}", y: {{ nested_dictionaries[tickers[0]][the_date[7]] }}}],
                            showLine: true,
                            fill: false,
                            borderColor: 'rgba(255, 0, 0, 1)',
                            lineTension: 0
                        },
                        {
                            label: "{{ tickers[1] }}",
                            data: [{
                                x: "{{ the_date[0] }}",
                                y: {{ nested_dictionaries[tickers[1]][the_date[0]] }}
                            }, {
                                x: "{{ the_date[1] }}",
                                y: {{ nested_dictionaries[tickers[1]][the_date[1]] }}
                            }, {
                                x: "{{ the_date[2] }}",
                                y: {{ nested_dictionaries[tickers[1]][the_date[2]] }}
                            }, {
                                x: "{{ the_date[3] }}",
                                y: {{ nested_dictionaries[tickers[1]][the_date[3]] }}
                            }, {
                                x: "{{ the_date[4] }}",
                                y: {{ nested_dictionaries[tickers[1]][the_date[4]] }}
                            }, {
                                x: "{{ the_date[5] }}",
                                y: {{ nested_dictionaries[tickers[1]][the_date[5]] }}
                            }, {
                                x: "{{ the_date[6] }}",
                                y: {{ nested_dictionaries[tickers[1]][the_date[6]] }}
                            }, {x: "{{ the_date[7] }}", y: {{ nested_dictionaries[tickers[1]][the_date[7]] }}}],
                            showLine: true,
                            fill: false,
                            borderColor: 'rgba(255, 128, 0, 1)',
                            lineTension: 0
                        },
                        {
                            label: "{{ tickers[2] }}",
                            data: [{
                                x: "{{ the_date[0] }}",
                                y: {{ nested_dictionaries[tickers[2]][the_date[0]] }}
                            }, {
                                x: "{{ the_date[1] }}",
                                y: {{ nested_dictionaries[tickers[2]][the_date[1]] }}
                            }, {
                                x: "{{ the_date[2] }}",
                                y: {{ nested_dictionaries[tickers[2]][the_date[2]] }}
                            }, {
                                x: "{{ the_date[3] }}",
                                y: {{ nested_dictionaries[tickers[2]][the_date[3]] }}
                            }, {
                                x: "{{ the_date[4] }}",
                                y: {{ nested_dictionaries[tickers[2]][the_date[4]] }}
                            }, {
                                x: "{{ the_date[5] }}",
                                y: {{ nested_dictionaries[tickers[2]][the_date[5]] }}
                            }, {
                                x: "{{ the_date[6] }}",
                                y: {{ nested_dictionaries[tickers[2]][the_date[6]] }}
                            }, {x: "{{ the_date[7] }}", y: {{ nested_dictionaries[tickers[2]][the_date[7]] }}}],
                            showLine: true,
                            fill: false,
                            borderColor: 'rgba(255, 255, 0, 1)',
                            lineTension: 0
                        },
                        {
                            label: "{{ tickers[3] }}",
                            data: [{
                                x: "{{ the_date[0] }}",
                                y: {{ nested_dictionaries[tickers[3]][the_date[0]] }}
                            }, {
                                x: "{{ the_date[1] }}",
                                y: {{ nested_dictionaries[tickers[3]][the_date[1]] }}
                            }, {
                                x: "{{ the_date[2] }}",
                                y: {{ nested_dictionaries[tickers[3]][the_date[2]] }}
                            }, {
                                x: "{{ the_date[3] }}",
                                y: {{ nested_dictionaries[tickers[3]][the_date[3]] }}
                            }, {
                                x: "{{ the_date[4] }}",
                                y: {{ nested_dictionaries[tickers[3]][the_date[4]] }}
                            }, {
                                x: "{{ the_date[5] }}",
                                y: {{ nested_dictionaries[tickers[3]][the_date[5]] }}
                            }, {
                                x: "{{ the_date[6] }}",
                                y: {{ nested_dictionaries[tickers[3]][the_date[6]] }}
                            }, {x: "{{ the_date[7] }}", y: {{ nested_dictionaries[tickers[3]][the_date[7]] }}}],
                            showLine: true,
                            fill: false,
                            borderColor: 'rgba(0, 255, 0, 1)',
                            lineTension: 0
                        },
                        {
                            label: "{{ tickers[4] }}",
                            data: [{
                                x: "{{ the_date[0] }}",
                                y: {{ nested_dictionaries[tickers[4]][the_date[0]] }}
                            }, {
                                x: "{{ the_date[1] }}",
                                y: {{ nested_dictionaries[tickers[4]][the_date[1]] }}
                            }, {
                                x: "{{ the_date[2] }}",
                                y: {{ nested_dictionaries[tickers[4]][the_date[2]] }}
                            }, {
                                x: "{{ the_date[3] }}",
                                y: {{ nested_dictionaries[tickers[4]][the_date[3]] }}
                            }, {
                                x: "{{ the_date[4] }}",
                                y: {{ nested_dictionaries[tickers[4]][the_date[4]] }}
                            }, {
                                x: "{{ the_date[5] }}",
                                y: {{ nested_dictionaries[tickers[4]][the_date[5]] }}
                            }, {
                                x: "{{ the_date[6] }}",
                                y: {{ nested_dictionaries[tickers[4]][the_date[6]] }}
                            }, {x: "{{ the_date[7] }}", y: {{ nested_dictionaries[tickers[4]][the_date[7]] }}}],
                            showLine: true,
                            fill: false,
                            borderColor: 'rgba(0, 255, 255, 1)',
                            lineTension: 0
                        },
                        {
                            label: "{{ tickers[5] }}",
                            data: [{
                                x: "{{ the_date[0] }}",
                                y: {{ nested_dictionaries[tickers[5]][the_date[0]] }}
                            }, {
                                x: "{{ the_date[1] }}",
                                y: {{ nested_dictionaries[tickers[5]][the_date[1]] }}
                            }, {
                                x: "{{ the_date[2] }}",
                                y: {{ nested_dictionaries[tickers[5]][the_date[2]] }}
                            }, {
                                x: "{{ the_date[3] }}",
                                y: {{ nested_dictionaries[tickers[5]][the_date[3]] }}
                            }, {
                                x: "{{ the_date[4] }}",
                                y: {{ nested_dictionaries[tickers[5]][the_date[4]] }}
                            }, {
                                x: "{{ the_date[5] }}",
                                y: {{ nested_dictionaries[tickers[5]][the_date[5]] }}
                            }, {
                                x: "{{ the_date[6] }}",
                                y: {{ nested_dictionaries[tickers[5]][the_date[6]] }}
                            }, {x: "{{ the_date[7] }}", y: {{ nested_dictionaries[tickers[5]][the_date[7]] }}}],
                            showLine: true,
                            fill: false,
                            borderColor: 'rgba(0, 128, 255, 1)',
                            lineTension: 0
                        },
                        {
                            label: "{{ tickers[6] }}",
                            data: [{
                                x: "{{ the_date[0] }}",
                                y: {{ nested_dictionaries[tickers[6]][the_date[0]] }}
                            }, {
                                x: "{{ the_date[1] }}",
                                y: {{ nested_dictionaries[tickers[6]][the_date[1]] }}
                            }, {
                                x: "{{ the_date[2] }}",
                                y: {{ nested_dictionaries[tickers[6]][the_date[2]] }}
                            }, {
                                x: "{{ the_date[3] }}",
                                y: {{ nested_dictionaries[tickers[6]][the_date[3]] }}
                            }, {
                                x: "{{ the_date[4] }}",
                                y: {{ nested_dictionaries[tickers[6]][the_date[4]] }}
                            }, {
                                x: "{{ the_date[5] }}",
                                y: {{ nested_dictionaries[tickers[6]][the_date[5]] }}
                            }, {
                                x: "{{ the_date[6] }}",
                                y: {{ nested_dictionaries[tickers[6]][the_date[6]] }}
                            }, {x: "{{ the_date[7] }}", y: {{ nested_dictionaries[tickers[6]][the_date[7]] }}}],
                            showLine: true,
                            fill: false,
                            borderColor: 'rgba(0, 0, 255, 1)',
                            lineTension: 0
                        },
                        {
                            label: "{{ tickers[7] }}",
                            data: [{
                                x: "{{ the_date[0] }}",
                                y: {{ nested_dictionaries[tickers[7]][the_date[0]] }}
                            }, {
                                x: "{{ the_date[1] }}",
                                y: {{ nested_dictionaries[tickers[7]][the_date[1]] }}
                            }, {
                                x: "{{ the_date[2] }}",
                                y: {{ nested_dictionaries[tickers[7]][the_date[2]] }}
                            }, {
                                x: "{{ the_date[3] }}",
                                y: {{ nested_dictionaries[tickers[7]][the_date[3]] }}
                            }, {
                                x: "{{ the_date[4] }}",
                                y: {{ nested_dictionaries[tickers[7]][the_date[4]] }}
                            }, {
                                x: "{{ the_date[5] }}",
                                y: {{ nested_dictionaries[tickers[7]][the_date[5]] }}
                            }, {
                                x: "{{ the_date[6] }}",
                                y: {{ nested_dictionaries[tickers[7]][the_date[6]] }}
                            }, {x: "{{ the_date[7] }}", y: {{ nested_dictionaries[tickers[7]][the_date[7]] }}}],
                            showLine: true,
                            fill: false,
                            borderColor: 'rgba(127, 0, 255, 1)',
                            lineTension: 0
                        },
                        {
                            label: "{{ tickers[8] }}",
                            data: [{
                                x: "{{ the_date[0] }}",
                                y: {{ nested_dictionaries[tickers[8]][the_date[0]] }}
                            }, {
                                x: "{{ the_date[1] }}",
                                y: {{ nested_dictionaries[tickers[8]][the_date[1]] }}
                            }, {
                                x: "{{ the_date[2] }}",
                                y: {{ nested_dictionaries[tickers[8]][the_date[2]] }}
                            }, {
                                x: "{{ the_date[3] }}",
                                y: {{ nested_dictionaries[tickers[8]][the_date[3]] }}
                            }, {
                                x: "{{ the_date[4] }}",
                                y: {{ nested_dictionaries[tickers[8]][the_date[4]] }}
                            }, {
                                x: "{{ the_date[5] }}",
                                y: {{ nested_dictionaries[tickers[8]][the_date[5]] }}
                            }, {
                                x: "{{ the_date[6] }}",
                                y: {{ nested_dictionaries[tickers[8]][the_date[6]] }}
                            }, {x: "{{ the_date[7] }}", y: {{ nested_dictionaries[tickers[8]][the_date[7]] }}}],
                            showLine: true,
                            fill: false,
                            borderColor: 'rgba(255, 0, 127, 1)',
                            lineTension: 0
                        },
                        {
                            label: "{{ tickers[9] }}",
                            data: [{
                                x: "{{ the_date[0] }}",
                                y: {{ nested_dictionaries[tickers[9]][the_date[0]] }}
                            }, {
                                x: "{{ the_date[1] }}",
                                y: {{ nested_dictionaries[tickers[9]][the_date[1]] }}
                            }, {
                                x: "{{ the_date[2] }}",
                                y: {{ nested_dictionaries[tickers[9]][the_date[2]] }}
                            }, {
                                x: "{{ the_date[3] }}",
                                y: {{ nested_dictionaries[tickers[9]][the_date[3]] }}
                            }, {
                                x: "{{ the_date[4] }}",
                                y: {{ nested_dictionaries[tickers[9]][the_date[4]] }}
                            }, {
                                x: "{{ the_date[5] }}",
                                y: {{ nested_dictionaries[tickers[9]][the_date[5]] }}
                            }, {
                                x: "{{ the_date[6] }}",
                                y: {{ nested_dictionaries[tickers[9]][the_date[6]] }}
                            }, {x: "{{ the_date[7] }}", y: {{ nested_dictionaries[tickers[9]][the_date[7]] }}}],
                            showLine: true,
                            fill: false,
                            borderColor: 'rgba(0, 0, 0, 1)',
                            lineTension: 0
                        },
                    ]
                },
                options: {
                    tooltips: {
                        mode: 'index',
                        intersect: false,
                    },
                    hover: {
                        mode: 'nearest',
                        intersect: true
                    },
                    scales: {
                        yAxes: [{
                            ticks: {
                                autoSkip: false,
                                beginAtZero: true,
                                stepSize: 20
                            }
                        }],
                        xAxes: [{
                            ticks: {
                                autoSkip: false
                            }
                        }]
                    },
                }
            });
        </script>

    </div>
</div>
</div>
</div>
<br>
<br>
</div>
</body>


{% endblock %}

